*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC';
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

sub {
    vertical-align: sub;
}

p {
    margin-bottom: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

/* 
* {
    outline: solid 1px black;
} */

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 100px;
}

.footer {
    text-align: center;
    background: #F5F5F5;
}

.btn {

    border-radius: 27px;
    opacity: 1;
}

.btn-blue {
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    font-size: 18px;
    padding: 0 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-red {
    border: 0px;
    background: #FF5D50 0% 0% no-repeat padding-box;
    font-size: 16px;
}

.banner {
    padding: 92px 0 180px;
    margin-bottom: 100px;
    margin-left: 140px;
}

.navbar-brand img {
    margin-left: 142px;
    max-height: 40px;
}

.navbar .btn-red {
    margin-right: 140px;
}

.header {
    background: url(../images/banner.svg) 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-position-x: 100%;
}


.top {
    position: fixed;
    right: 50px;
    bottom: 20%;
    z-index: 299;
    /* display: none; */
}

.top a {
    display: block;
    width: 71px;
    height: 71px;
    border: none;
    border-radius: 50%;
    background-color: #56C4C5;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Wendy One';
    text-align: center;
    text-decoration: none;
    line-height: 71px;
}

.top a:hover {
    background-color: rosybrown;
}

.qa-titile {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
}

.qa-card {
    padding: 16px 32px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin-bottom: 16px;
}

.qa-card:hover {
    cursor: pointer;
}

.faq-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-head p {
    font-weight: bold;
    font-size: 18px;
}

.faq-head p:active {
    color: #56C4C5;
}

.faq-head button {
    background-color: white;
    border: none;

}

.faq-head button:hover {
    cursor: pointer;
}

.qa-card>p {
    display: none;
    padding: 24px 0px;
    color: #747474;
}

.plan h2 {
    font-size: 32px;
    margin-bottom: 48px;
}

.people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.people li {
    margin-right: 16px;
}

.people a {
    display: block;
    padding: 12px 32px;
    color: #56C4C5;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    font-size: 18px;
    background-color: white;
    text-decoration: none;
}

.people a.active,
.people a:hover {
    color: white;
    background-color: #56C4C5;
}

.plan-detail {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.plan-detail>div {
    width: 41%;
    box-shadow: 0px 2px 10px #00000014;
}

.basic {
    margin-right: 21px;
}

.plan-card>h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    border-bottom: 1px solid #DDDDDD;
}

.content {
    padding: 24px 24px;
    text-align: center;
}

.content>p {
    text-align: center;
    margin-bottom: 32px;
    padding: 0px 54px;
}



.payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

}

.payment li {
    background-color: #F5F5F5;
    padding: 24px 25px;
    border-radius: 12px;
}

.payment li>p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
}

.user>p {
    font-size: 32px;
    color: #56C4C5;
    display: inline-block;
}

.user>span {
    color: #56C4C5;
    font-size: 12px;
}

.charge>p {
    font-size: 32px;
    display: inline-block;
}

.charge>span {
    font-size: 12px;
}

.payment .equal {
    background-color: white;
    align-self: center;
    font-size: 29px;
    font-weight: bold;
}

.plan-features {
    margin-bottom: 32px;
}

.plan-features li {
    margin-bottom: 16px;
    background-image: url('../images/icon_check.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    text-align: start;
}

@media(max-width:767px) {
    .plan-detail {
        flex-direction: column;
        align-items: center;
    }

    .plan-detail>div {
        width: 95%;
        margin-right: 0;
    }

    .payment {
        justify-content: center;
    }

    .plan-features {
        width: 60%;
        margin: 0 auto 32px;
    }
    .people {
        justify-content: flex-start;
        overflow: scroll;
    }
    .people a {
        width: 130px;
        text-align: center;
        padding: 12px 25px;
    }
}






@media(max-width:576px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px;
    }

    .banner .row {
        flex-direction: column;
        align-items: center;

    }

    .navbar {
        border-bottom: 2px solid #FFD153;

    }

    .navbar img {
        max-height: 24px;
        margin-left: 20px;
    }

    .navbar .btn-red {
        margin-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        margin-left: 0;
        height: 495px;
        background: url(../images/banner_sm.svg) 0% 0% no-repeat padding-box;

    }

    .banner-content {
        margin-top: 48px;
        margin-left: 20px;
    }

    .top {

        right: 20px;
        bottom: 7%;
    }

    

    

    .plan-features {
        width: 80%;
        margin: 0 auto 32px;
    }

    .plan-detail>div {
        width: 100%;
    }

    .content {
        padding: 32px 10px;
    }

    .payment {
        justify-content: space-evenly;
    }

    .payment .equal {
        padding: 5px;
    }

    .payment li {
        background-color: #F5F5F5;
        padding: 24px 10px;
        border-radius: 12px;
    }

}